body {

}
p {
	color:#999;
}
h5 {
	color:#999;
}
nav {
	background:linear-gradient(to right, #EE861F,#E43B79);
}
a {
	color:#333;
}
.btn {
	border-radius:20px;
}
.card {
	background:#f8f8f8!important;
}
.degrade {
	background:linear-gradient(to right, #EE861F,#E43B79);
}
.brand-logo {
	font-size:1.4rem!important;
}
/* LOGIN */
.marca {
	display:inline-block;
	background:green;
	width:200px;
	height:200px;
	margin-top:40%;
	margin-bottom:40%;
}

/* DASHBOARD */
.card-title {
	font-size:1.2rem!important;
	font-weight: bold!important;
}
.card-content {
	padding:8px 18px!important;
}
.descricao {
	margin-bottom:8px!important;
}

/* NOVO_PROBLEMA */
.recurso_box {

}