body {

}

/* LOGIN */
.marca {
	display:inline-block;
	background:green;
	width:200px;
	height:200px;
	margin-top:40%;
	margin-bottom:40%;
}

/* DASHBOARD */
.card-title {
	font-size:1.2rem!important;
	font-weight: bold!important;
}
.card-content {
	padding:8px 18px!important;
}
.descricao {
	margin-bottom:8px!important;
}

/* NOVO_PROBLEMA */
.recurso_box {
	
}